*{
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-color: #fefefe; */
    background-color: #f1f2f4;
}

.AppContainer{
    background-color: #2c3733;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
}

.text{
    color: white;

    height: 200vh;
}

.Navbar{
    height: 50px;
    width: 95%;
    padding: 8px 20px;
    background: white;
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 40px #0000001A;
    border-radius: 0px 0px 8px 8px;
    position: sticky;
    top: 0;
    /* let top right top left bottom right bottom*/
    z-index: 10;
}
/*
.logoBox{
    height: 100%;
}

.logoBox > img{
    height: 100%;
    object-fit: contain;
}
*/

.logoContainer{
    height: 100%;
    width: 30%;
    display: flex;
}

.logoContainerLink{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logoContainerLink > img{
    height: 80%;
    width: auto;
    object-fit: contain;
}

.linkContainer{
    width: 70%;
    display: flex;
    justify-content: right;
}

.linkContainerList{
    list-style: none;
    display: flex;
}

.linkContainerListItem{
    margin: 0px 4px;
}

.linkContainerListItemLink{
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    /* font-weight: 600; */
}

.linkContainerListItemLink:hover{
    color: #6ffcd1;
}

.Hamburger{
    height: 35px;
    width:  35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.HamburgerLine{
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

.HamburgerLine:first-child{
    margin-bottom: 5px;
}

.HamburgerLine:last-child{
    margin-top: 5px;
}




.footer{
    background: black;
    width: 95%;
    padding: 10px 25px;
    margin: auto;
    border-radius: 8px 8px 0px 0px;
    padding-top: 18px;
}

.footerContainer{
    display: flex;
    margin-bottom: 10px;
}

.footerSubContainer{
    width: 100%;
}

.footerNavigationBar{
    display: flex;
}

.footerLabel{
    color: white;
    margin-bottom: 10px;
    padding: 8px 15px;
}

.footerNavigationBarList{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.footerNavigationBarListItem{
    padding: 8px 16px;
}

.footerNavigationBarListItemLink{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footerNavigationBarListItemLink:hover{
    color: #6ffcd1;
}

.bottomFooter{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottomFooter > p{
    text-align: center;
    color: white;
    font-size: 12px;
}


.line{
    width: 2px;
    background: white;
    margin: 30px 8px;
}


.socialMediaBar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.socialMediaBarItem{
    margin: 5px;
}
.socialMediaBarItemLink{
    color: white;
}

.socialMediaBarItemLink:hover{
    color: #6ffcd1;
}

.socialMediaBarItemLink > svg{
    height:     28px;
    width:      28px;
    min-height: 28px;
    min-width:  28px;
    max-height: 28px;
    max-width:  28px;
}

.MakeInIndiaContainer{
    display: flex;
    padding: 8px 18px;
}

.MakeInIndiaLabel{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.MakeInIndiaImageContainer{
    height: 25px;
    width:  50px;
    display: flex;
    justify-content: center;
}

.MakeInIndiaImageContainer > img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.horizontalLine{
    height: 2px;
    width: 90%;
    background-color: white;
    margin: 8px auto;
}


.ribbon{
    width: 95%;
    background-color: white;
    overflow: hidden;
    display: flex;
    padding: 10px 20px;
    margin: auto;
    border-radius: 10px;
}

.ribbonSVGContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ribbonSVGSubContainer{
    height: 50px;
    width:  50px;
    background-color: #2c3733;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.ribbonSVGSubContainer > svg{
    width:      30px;
    height:     30px;
    min-width:  30px;
    min-height: 30px;
    max-width:  30px;
    max-height: 30px;
    color: white;
}

.ribbonContentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}

.ribbonContentContainer > h3{
    margin-bottom: 3px;
}

.ribbonContentContainer > p{
    font-size: 16px;
}

.ribbonButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.ribbonButton{
    padding: 8px 14px;
    background-color: #2c3733;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #2c3733;
    white-space: nowrap;
    font-size: 14px;
}

.ribbonButton:hover{
    color: #2c3733;
    background-color: white;

}



.homeContainer{
    width: 95%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.homeIllustrationContainer{
    width: 55%;
    overflow: hidden;
}

.homeIllustrationContainer > img{
    width: 100%;
    object-fit: contain;
}

.homeContentContainer{
    width: 45%;
    color: white;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContentHeading{
    text-align: center;
    margin-bottom: 13px;
}

.homeContentSubHeading{
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.homeContentButton{
    padding: 8px 14px;
    background-color: white;
    color: #2c3733;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    white-space: nowrap;
    font-size: 14px;
    width:fit-content;
}
.homeContentButton:hover{
    color: white;
    background-color: #2c3733;
}


.AboutPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.AboutPageContainer{
    display: flex;
}



.AboutPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutPageImageContainer > img{
    width: 65%;
    height: auto;
    object-fit: contain;
}

.AboutPageHeading{
    color: white;
    margin: 10px;
}

.AboutPageContentContainer{
    background-color: white;
    color: black;
    padding: 25px 20px;
    border-radius: 10px;
    width: 100%;
}

.AboutPageIntroduction{
    margin-bottom: 15px;
    text-align: center;
}

.AboutPageSubHeading{
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
}

.AboutPageSubHeading > span{
    font-weight: bold;
}

.AboutPageSubContainer{
    margin-bottom: 15px;
}

.AboutPageSubContainerHeading{
    margin-bottom: 8px;
}

.AboutPageSubContainerSubHeading{
    text-align: center;
    padding: 0px 10px;
    font-size: 15px;
}

/* -------------------------------- */



.ContactPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.ContactPageHeading{
    color: white;
    margin: 10px;
}

.ContactPageContainer{
    display: flex;
}

.ContactPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactPageImageContainer > img{
    width: 45%;
    height: auto;
    object-fit: contain;
}

.ContactSubContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ContactContainer{
    width: 95%;
    margin: auto;
    padding: 20px 20px;
    display: flex;
}



.ContactSubContainer{
    width: 100%;
}

.ContactSubContainer:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}


.ContactForm{
    padding: 28px;
    background-color: white;
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
}

.ContactFormSubContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.ContactFormSubContainer > label{
    font-size: 14px;
}

.ContactFormSubContainer > input{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 10px;
}

.ContactFormSubContainer > input:focus{
    border-color: #6ffcd1;
}

.ContactFormSubContainer > textarea{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

.ContactFormSubContainer > textarea:focus{
    border-color: #6ffcd1;
}


.ContactFormSubContainer:last-child{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 5px;
}

.ContactFormButton{
    padding: 8px 14px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    white-space: nowrap;
    font-size: 14px;
    width:100%;
}



/* --------------------------- */


.ServicePage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.ServicePageHeading{
    color: white;
    margin: 10px;
}


.ServicePageContainer{
    /*display: flex;
    justify-content: start;
    flex-wrap: wrap;*/

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns of equal width */
    gap: 10px;
}

.ServiceCardSVGContainer{
    height: 90px;
    width:  90px;
    margin: auto;
    color: black;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.ServiceCardSVGContainer > svg{
    width:      75px;
    height:     75px;
    min-height: 75px;
    min-width:  75px;
    max-height: 75px;
    max-width:  75px;
}

.ServiceCard{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 40px #0000001A;
    padding: 20px;
    max-width: 250px;
    margin: 20px;
}

.ServiceCardTitle{
    text-align: center;
    margin-bottom: 4px;
    margin-top: 4px;
}

.ServiceCardContent{
    text-align: center;
    font-size: 13px;
}






.ProductPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.ProductPageHeading{
    color: white;
    margin: 10px;
}

.ProductPageContainer{
    display: flex;
}

.ProductPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductPageImageContainer > img{
    width: 45%;
    height: auto;
    object-fit: contain;
}

.ProductSubContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}







.CareerPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.CareerPageHeading{
    color: white;
    margin: 10px;
}

.CareerPageContainer{
    display: flex;
}

.CareerPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CareerPageImageContainer > img{
    width: 65%;
    height: auto;
    object-fit: contain;
}

.CareerPageContentContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CareerPageContentSubContainer{
    display: flex;
    flex-direction: column;
}

.CareerPageContentHeading{
    color: white;
    text-align: center;
    margin-bottom: 13px;
}

.CareerPageContentSubHeading{
    color: white;
    text-align: center;
    margin-bottom: 13px;
    font-size: 16px;
    max-width: 500px;
}

.CareerPageContentButton{
    padding: 8px 14px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    white-space: nowrap;
    font-size: 14px;
}

.CareerPageContentList{
    color: white;
    list-style:disc;
    width: 100%;
    padding: 0px 18px;
}

.CareerPageContentListItem{
    margin-bottom: 8px;
    font-size: 16px;
}

.CareerPageContentSubContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CareerPageSubHeading{
    color: white;
    width: 100%;
    margin-bottom: 12px;
}

.CareerPageHiringContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns of equal width */
    gap: 10px;
}

.CareerPageRibbon{
    padding: 8px 20px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    margin: 8px 0px;
}

.HiringCard{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 40px #0000001A;
    padding: 20px;
    max-width: 250px;
    margin: 20px;
    height: fit-content;
}

.HiringCardTitle{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 4px;
}


.HiringCardSVGContainer{
    height: 90px;
    width:  90px;
    margin: auto;
    color: black;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.HiringCardSVGContainer > svg{
    width:      75px;
    height:     75px;
    min-height: 75px;
    min-width:  75px;
    max-height: 75px;
    max-width:  75px;
}

.HiringCardContent{
    text-align: center;
    font-size: 13px;
}

.HiringCardSubHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: bold;
}

.HiringCardLocation{
    background-color: #2c3733;
    color: white;
    padding: 5px 13px;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
}

.HiringCardJobType{
    background-color: #2c3733;
    color: white;
    padding: 5px 13px;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
}

.HiringCardDescriptionContainer{
    max-height: 40px;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
}

.HiringCardDescriptionShowMore{
    max-height: unset;
    padding-bottom: 30px;
}

.HiringCardDescription{
    font-size: 13px;
}

.HiringCardDescriptionhide{
    width: 100%;
    height: 20px;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
}

.HiringCardButton{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    padding: 3px 8px;
    border-radius: 30px;
    margin: auto;
    width: fit-content;
    cursor: pointer;
}


.HiringCardApplyButton{
    padding: 8px 14px;
    background-color: #2c3733;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #2c3733;
    white-space: nowrap;
    font-size: 14px;
    width: 100%;
}


.ApplySection{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00000040;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    z-index: 20;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ApplySectionConatiner{
    background-color: white;
    padding: 25px 30px;
    border-radius: 10px;
    margin: 20px;
    max-width: fit-content;
    height: fit-content;
}

.ApplySectionForm{
  
}

.ApplySectionFormContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ApplySectionFormContainer > label{
    margin-right: 10px;
    min-width: 150px;
}

.ApplySectionFormContainer > input{
    padding: 5px 10px;
    width: 100%;
}

.ApplySectionFormContainer > select{
    padding: 5px 10px;
    width: 100%;
}

.ApplySectionFormSubContainer{
    display: flex;
    align-items: center;
    margin: 0px 8px;
}

.ApplySectionFormSubContainer > label{
    margin-left: 8px;
}
.ApplySectionFormButtonsContainer{
    display: flex;
    margin-top: 13px;
}

.ApplySectionFormButtonsContainer>input{
    width: 100%;
    padding: 5px 20px;
    margin: 0px 5px;
    background-color: black;
    color: white;
    border-radius: 30px;
}

.ChooseFileButton{
    display: inline-block;
    padding: 6px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.ApplySectionFormChooseFileContainer{
    display: flex;
    justify-content: end;
    width: 165px;
    overflow: hidden;
}

















.ErrorPageContainer{
    width: 95%;
}

.ErrorPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ErrorPageImageContainer > img{
    width: 50%;
    object-fit: contain;
}

.EroorPageHeading{
    color: white;
    margin-bottom: 20px;
}







.MobileMenu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: #2c3733;
}

.MobileMenuContainer{
    width: 95%;
    margin: auto;
}

.MobileMenuNavbar{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 8px 20px;
}

.MobileMenuLeftNavbar{
    width: 100%;
    height: 100%;
    display: flex;
}

.MobileMenuRightNavbar{
    height: 100%;
}

.MobileMenuNavbarLogo{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.MobileMenuNavbarLogo > img{
    height: 80%;
    width: auto;
    object-fit: contain;
}



.logoContainerLink{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}


.MobileMenuNavbarButton{
    height: 40px;
    width:  40px;
    background-color: #6ffcd1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.MobileMenuNavbarButton > svg{
    height:     25px;
    width:      25px;
    max-width:  25px;
    max-height: 25px;
    min-width:  25px;
    min-height: 25px;
}


.MobileMenuList{
    list-style: none;
    margin-top: 20px;
}

.MobileMenuListItem{
    margin-bottom: 10px;
}

.MobileMenuListItemLink{
    padding: 10px 20px;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}



@media (max-width: 930px) {
    .logoContainer{
        width: 100%;
    }
    .linkContainer{
        display: none;
    }

    .Hamburger{
        display: flex;
    }


    .homeContainer{
        flex-direction: column;
    }

    .homeIllustrationContainer{
        width:100%;
    }

    .homeContentContainer{
        width: 100%;
        padding: 20px;
    }

    .line{
        display: none;
    }

    .footerSubContainer:first-child{
        margin-bottom: 10px;
    }

    .footer{
        padding: 10px 15px;
    }

    .footerContainer{
        flex-direction: column;
    } 

    .footerSubContainer:nth-child(2){
        display: none;
    }

    .ribbon{
        flex-direction: column;
        padding: 20px;
    }
    .ribbonSVGContainer{
        margin-bottom: 12px;
    }

    .ribbonContentContainer{
        align-items: center;
        text-align: justify;
        margin-bottom: 10px;
    }

    .ribbonContentContainer > h3{
        margin-bottom: 5px;
        text-align: center;
    }

    .ribbonContentContainer > p{
        text-align: center;
    }

    .ContactContainer{
        flex-direction: column;
    }

    .ContactContainer{
        padding: 15px 0px;
    }

    .AboutPageContainer{
        flex-direction: column;
    }

    .AboutPageImageContainer{
        margin: 15px 0px;
    }

    .AboutPageSubContainerHeading{
        text-align: center;
    }

    .ContactPageContainer{
        flex-direction: column;
    }

    .ContactPageImageContainer{
        margin: 15px 0px;
    }

    .AboutPageHeading{
        text-align: center;
    }
    .ContactPageHeading{
        text-align: center;
    }

    .ServicePageContainer{
        grid-template-columns: repeat(3, 1fr);
    }

    .CareerPageHiringContainer{
        grid-template-columns: repeat(3, 1fr);
    }

    .CareerPageContainer{
        flex-direction: column;
    }
    .ApplySection{
        align-items: normal;
    }
}

@media (max-width: 750px) {
    .ServicePageContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    .CareerPageHiringContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .ApplySectionConatiner{
        width: 90%;
        max-width: 90%;
    }
    .ApplySectionFormContainer{
        flex-direction: column;
        align-items: normal;
    }
    .ApplySectionFormContainer > label{
        margin-bottom: 8px;
    }
    .ApplySectionFormButtonsContainer{
        flex-direction: column;
    }

    .ApplySectionFormButtonsContainer > input{
        margin: 0px;
        margin-bottom: 8px;
    }
}


@media (max-width: 450px) {
    .ServicePageContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .CareerPageHiringContainer{
        grid-template-columns: repeat(1, 1fr);
    }

    .ServiceCard{
        margin: 20px auto;
    }

    .HiringCard{
        margin: 20px auto;
    }

    .ApplySectionConatiner{
        margin: 20px auto;
    }
}

@media (max-height: 500px) {
    .ApplySection{
        align-items: normal;
    }
}


.active{
    color: #6ffcd1;
}