*{
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-color: #fefefe; */
    background-color: #2c3733;
    min-width: 300px;
    /* max-width: ; */
}

.text{
    color: white;

    height: 200vh;
}

.Navbar{
    height: 50px;
    width: 95%;
    padding: 8px 20px;
    background: white;
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 40px #0000001A;
    border-radius: 0px 0px 8px 8px;
    position: sticky;
    top: 0;
    /* let top right top left bottom right bottom*/
}
/*
.logoBox{
    height: 100%;
}

.logoBox > img{
    height: 100%;
    object-fit: contain;
}
*/

.logoContainer{
    height: 100%;
    width: 30%;
    display: flex;
}

.logoContainerLink{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logoContainerLink > img{
    height: 80%;
    width: auto;
    object-fit: contain;
}

.linkContainer{
    width: 70%;
    display: flex;
    justify-content: right;
}

.linkContainerList{
    list-style: none;
    display: flex;
}

.linkContainerListItem{
    margin: 0px 4px;
}

.linkContainerListItemLink{
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    /* font-weight: 600; */
}

.linkContainerListItemLink:hover{
    color: #6ffcd1;
}

.Hamburger{
    height: 35px;
    width:  35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.HamburgerLine{
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

.HamburgerLine:first-child{
    margin-bottom: 5px;
}

.HamburgerLine:last-child{
    margin-top: 5px;
}




.footer{
    background: black;
    width: 95%;
    padding: 10px 25px;
    margin: auto;
    border-radius: 8px 8px 0px 0px;
    padding-top: 18px;
}

.footerContainer{
    display: flex;
    margin-bottom: 10px;
}

.footerSubContainer{
    width: 100%;
}

.footerNavigationBar{
    display: flex;
}

.footerLabel{
    color: white;
    margin-bottom: 10px;
    padding: 8px 15px;
}

.footerNavigationBarList{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.footerNavigationBarListItem{
    padding: 8px 16px;
}

.footerNavigationBarListItemLink{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footerNavigationBarListItemLink:hover{
    color: #6ffcd1;
}

.bottomFooter{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottomFooter > p{
    text-align: center;
    color: white;
    font-size: 12px;
}


.line{
    width: 2px;
    background: white;
    margin: 30px 8px;
}


.socialMediaBar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.socialMediaBarItem{
    margin: 5px;
}
.socialMediaBarItemLink{
    color: white;
}

.socialMediaBarItemLink:hover{
    color: #6ffcd1;
}

.socialMediaBarItemLink > svg{
    height:     28px;
    width:      28px;
    min-height: 28px;
    min-width:  28px;
    max-height: 28px;
    max-width:  28px;
}

.MakeInIndiaContainer{
    display: flex;
    padding: 8px 18px;
}

.MakeInIndiaLabel{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.MakeInIndiaImageContainer{
    height: 25px;
    width:  50px;
    display: flex;
    justify-content: center;
}

.MakeInIndiaImageContainer > img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.horizontalLine{
    height: 2px;
    width: 90%;
    background-color: white;
    margin: 8px auto;
}


.ribbon{
    width: 95%;
    background-color: white;
    overflow: hidden;
    display: flex;
    padding: 10px 20px;
    margin: auto;
    border-radius: 10px;
}

.ribbonSVGContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ribbonSVGSubContainer{
    height: 50px;
    width:  50px;
    background-color: #2c3733;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.ribbonSVGSubContainer > svg{
    width:      30px;
    height:     30px;
    min-width:  30px;
    min-height: 30px;
    max-width:  30px;
    max-height: 30px;
    color: white;
}

.ribbonContentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}

.ribbonContentContainer > h3{
    margin-bottom: 3px;
}

.ribbonContentContainer > p{
    font-size: 16px;
}

.ribbonButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.ribbonButton{
    padding: 8px 14px;
    background-color: #2c3733;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #2c3733;
    white-space: nowrap;
    font-size: 14px;
}

.ribbonButton:hover{
    color: #2c3733;
    background-color: white;

}



.homeContainer{
    width: 95%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.homeIllustrationContainer{
    width: 55%;
    overflow: hidden;
}

.homeIllustrationContainer > img{
    width: 100%;
    object-fit: contain;
}

.homeContentContainer{
    width: 45%;
    color: white;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContentHeading{
    text-align: center;
    margin-bottom: 13px;
}

.homeContentSubHeading{
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.homeContentButton{
    padding: 8px 14px;
    background-color: white;
    color: #2c3733;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    white-space: nowrap;
    font-size: 14px;
    width:fit-content;
}
.homeContentButton:hover{
    color: white;
    background-color: #2c3733;
}


.AboutPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.AboutPageContainer{
    display: flex;
}



.AboutPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutPageImageContainer > img{
    width: 65%;
    height: auto;
    object-fit: contain;
}

.AboutPageHeading{
    color: white;
    margin: 10px;
}

.AboutPageContentContainer{
    background-color: white;
    color: black;
    padding: 25px 20px;
    border-radius: 10px;
    width: 100%;
}

.AboutPageIntroduction{
    margin-bottom: 15px;
    text-align: center;
}

.AboutPageSubHeading{
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
}

.AboutPageSubHeading > span{
    font-weight: bold;
}

.AboutPageSubContainer{
    margin-bottom: 15px;
}

.AboutPageSubContainerHeading{
    margin-bottom: 8px;
}

.AboutPageSubContainerSubHeading{
    text-align: center;
    padding: 0px 10px;
    font-size: 15px;
}

/* -------------------------------- */



.ContactPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.ContactPageHeading{
    color: white;
    margin: 10px;
}

.ContactPageContainer{
    display: flex;
}

.ContactPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactPageImageContainer > img{
    width: 45%;
    height: auto;
    object-fit: contain;
}

.ContactSubContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ContactContainer{
    width: 95%;
    margin: auto;
    padding: 20px 20px;
    display: flex;
}



.ContactSubContainer{
    width: 100%;
}

.ContactSubContainer:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}


.ContactForm{
    padding: 28px;
    background-color: white;
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
}

.ContactFormSubContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.ContactFormSubContainer > label{
    font-size: 14px;
}

.ContactFormSubContainer > input{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 10px;
}

.ContactFormSubContainer > textarea{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

.ContactFormSubContainer:last-child{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 5px;
}

.ContactFormButton{
    padding: 8px 14px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid white;
    white-space: nowrap;
    font-size: 14px;
    width:100%;
}



/* --------------------------- */


.ServicePage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.ServicePageHeading{
    color: white;
    margin: 10px;
}

.ServicePageContainer{
    display: flex;
}

.ServicePageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ServicePageImageContainer > img{
    width: 45%;
    height: auto;
    object-fit: contain;
}

.ServiceSubContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}








.ProductPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.ProductPageHeading{
    color: white;
    margin: 10px;
}

.ProductPageContainer{
    display: flex;
}

.ProductPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductPageImageContainer > img{
    width: 45%;
    height: auto;
    object-fit: contain;
}

.ProductSubContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}







.CareerPage{
    width: 95%;
    margin: auto;
    padding: 25px 0px;
}

.CareerPageHeading{
    color: white;
    margin: 10px;
}

.CareerPageContainer{
    display: flex;
}

.CareerPageImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CareerPageImageContainer > img{
    width: 45%;
    height: auto;
    object-fit: contain;
}

.CareerPageContentContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

























@media (max-width: 930px) {
    .logoContainer{
        width: 100%;
    }
    .linkContainer{
        display: none;
    }

    .Hamburger{
        display: flex;
    }


    .homeContainer{
        flex-direction: column;
    }

    .homeIllustrationContainer{
        width:100%;
    }

    .homeContentContainer{
        width: 100%;
        padding: 20px;
    }

    .line{
        display: none;
    }

    .footerSubContainer:first-child{
        margin-bottom: 10px;
    }

    .footer{
        padding: 10px 15px;
    }

    .footerContainer{
        flex-direction: column;
    } 

    .footerSubContainer:nth-child(2){
        display: none;
    }

    .ribbon{
        flex-direction: column;
        padding: 20px;
    }
    .ribbonSVGContainer{
        margin-bottom: 12px;
    }

    .ribbonContentContainer{
        align-items: center;
        text-align: justify;
        margin-bottom: 10px;
    }

    .ribbonContentContainer > h3{
        margin-bottom: 5px;
        text-align: center;
    }

    .ribbonContentContainer > p{
        text-align: center;
    }

    .ContactContainer{
        flex-direction: column;
    }

    .ContactContainer{
        padding: 15px 0px;
    }

    .AboutPageContainer{
        flex-direction: column;
    }

    .AboutPageImageContainer{
        margin: 15px 0px;
    }

    .AboutPageSubContainerHeading{
        text-align: center;
    }

    .ContactPageContainer{
        flex-direction: column;
    }

    .ContactPageImageContainer{
        margin: 15px 0px;
    }

    .AboutPageHeading{
        text-align: center;
    }
    .ContactPageHeading{
        text-align: center;
    }
}


